body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;

  --main-bg-color: hsl(0, 0%, 17%);
  --main-bg-color-light: hsla(0, 0%, 83%, 0.935);
  --main-bg-color2: hsl(0, 0%, 16%);
  --main-bg-color2-light: hsla(0, 0%, 91%, 0.935);

  --main-color: hsla(0, 0%, 100%, 0.766);
  --main-color-light: black;
  --main-color2: hsla(0, 0%, 100%, 0.943);
  --main-color2-light: rgb(44, 44, 44);

  background: var(--main-bg-color);
  color: var(--main-color);
}

@keyframes crazy-blinker {
  0% {
      background-color: red;
  }
  33% {
      background-color: blue;
  }
  66% {
      background-color: green;
  }
}

.container {
  padding: 16px;
  height: 100%;
  &.loading {
    animation: crazy-blinker .1s ease-in-out infinite;
  }
}

h1,h2,h3,h4,h5 {
  font-weight: 300;
  margin-top: 0;
}

